@use "../../theme" as *;
@use "../../names" as *;
@use "sass:color";

$mom: #ff2ea6;

:global(.#{$CAT_BOX}) {
  position: relative;
  width: 100%;
  height: 100%;
  color: color.mix($mom, white, 30%);
  --d: #{color.mix($mom, rgba(white, 0.1), 30%)};
  transition: color 0.2s;

  // needs to be this way, because the cat specific classes are only set once they have their behaviour
  &:nth-child(2) {
    --t-x: -35%;
  }

  &:nth-child(3) {
    --t-x: 35%;
  }
}

.cat {
  @extend %gridCentered;
  position: relative;
  width: 100%;
  height: 100%;

  $colorSolid: var(--d);
  $width: 1px;
  $widthNeg: -1px;
  $blur: 0px;

  filter: drop-shadow($width $widthNeg $blur $colorSolid) drop-shadow($widthNeg $width $blur $colorSolid)
    drop-shadow($width $width $blur $colorSolid) drop-shadow($widthNeg $widthNeg $blur $colorSolid);

  svg {
    color: currentColor;
  }
}

.isMom {
  color: $mom;
  --d: #{color.mix($mom, rgba(black, 0.5), 40%)};
}

.moony {
  $moony: #ffc400;
  color: $moony;
  --d: #{color.mix($moony, rgba(black, 0.5), 50%)};
}

.ivy {
  $ivy: #00b22d;
  color: $ivy;
  --d: #{color.mix($ivy, rgba(black, 0.5), 50%)};
}

.splashy {
  $splashy: #0090ff;
  color: $splashy;
  --d: #{color.mix($splashy, rgba(black, 0.5), 50%)};
}

:global(.#{$CELL}) {
  .cat {
    &:not(.isMom) {
      transform: scale(0.65) translate(var(--t-x, 0), 27%);
    }
  }

  ellipse {
    transform-box: fill-box;
    transform-origin: center;
    animation: eye-blink 8s 4s infinite;
  }
}

@keyframes eye-blink {
  0% {
    transform: scaleY(1);
  }
  3% {
    transform: scaleY(0);
  }
  6% {
    transform: scaleY(1);
  }
  9% {
    transform: scaleY(0);
  }
  12% {
    transform: scaleY(1);
  }
}
