@use "../../grid-mixins";

@import "../../theme";
@import "../../names";

$border-style: outset;

.#{$FIELD} {
  --t: #{$tile-color-1};
  position: relative;
  margin: 0 auto;
  justify-content: center;
  height: fit-content;
  border: calc(var(--s-size) / 4) solid $tile-color-alpha;

  @include grid-mixins.board-tile-grid;
  @include grid-mixins.board-tile-grid-variables;

  .row {
    display: contents;

    &:nth-child(even) {
      .#{$CELL} {
        &:nth-child(odd) {
          --t: #{$tile-color-2};
        }
      }
    }

    &:nth-child(odd) {
      .#{$CELL}:not(:nth-child(odd)) {
        --t: #{$tile-color-2};
      }
    }
  }

  .#{$START_BUTTON} {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
  }
}

.#{$CELL} {
  background-color: var(--t);
  display: grid;
  place-items: center;
  position: relative;
  overflow: hidden;
  // width: 100%;
  // height: 100%;

  &.#{$TREE},
  &.#{$PUDDLE},
  &.#{$MOON} {
    &::before {
      content: "";
      position: absolute;
      display: grid;
      place-items: center;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &.#{$TREE} {
    &::before {
      content: "🌳";
    }
  }

  &.#{$PUDDLE} {
    &::before {
      --water: #105a99;

      // css to create a puddle/pond effect
      content: "";
      border-radius: 55% 45% 62% 38% / 48% 60% 40% 52%;
      width: 80%;
      height: 80%;
      top: 10%;
      left: 10%;

      background: radial-gradient(120px 90px at 62% 38%, rgba(170, 210, 255, 0.25), rgba(170, 210, 255, 0) 60%),
        radial-gradient(80px 60px at 34% 68%, rgba(140, 190, 255, 0.2), rgba(140, 190, 255, 0) 60%), var(--water);
    }
  }

  &.#{$MOON} {
    &::before {
      content: "🌙";
      transform: scale(0.5) translateY(-50%);
    }
  }

  .#{$CAT} {
    position: relative;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;

    &:not(.#{$IS_MOM}) {
      z-index: 2;
      transform: scale(1.3) translate(var(--t-x, 0), 15%);
    }
  }

  .#{$IS_MOM} {
    transform: scale(2);
  }

  .#{$CAT_COLOR} {
    &1 {
      filter: hue-rotate(90deg);
    }

    &2 {
      filter: hue-rotate(180deg);
      --t-x: -10%;
    }

    &3 {
      filter: hue-rotate(270deg);
      --t-x: 10%;
    }
  }

  > .#{$CAT} {
    grid-area: 1 / 1;
  }

  span,
  .#{$CAT} {
    pointer-events: none;
  }
}

.#{$WON} {
  .#{$CELL} {
    pointer-events: none;
  }

  .#{$START_BUTTON} {
    font-size: 0.8rem;
  }
}
