@use "../../grid-mixins";

@import "../../theme";
@import "../../names";

$border-style: outset;

.#{$FIELD} {
  --t: #{$tile-color-1};
  position: relative;
  margin: 0 auto;
  justify-content: center;
  height: fit-content;
  border: calc(var(--s-size) / 4) solid $tile-color-alpha;

  @include grid-mixins.board-tile-grid;
  @include grid-mixins.board-tile-grid-variables;

  .row {
    display: contents;

    &:nth-child(even) {
      .#{$CELL} {
        &:nth-child(odd) {
          --t: #{$tile-color-2};
        }
      }
    }

    &:nth-child(odd) {
      .#{$CELL}:not(:nth-child(odd)) {
        --t: #{$tile-color-2};
      }
    }
  }

  .#{$START_BUTTON} {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
  }
}

.#{$CELL} {
  background-color: var(--t);
  display: grid;
  place-items: center;
  position: relative;
  overflow: hidden;
  // width: 100%;
  // height: 100%;

  &.#{$TREE},
  &.#{$PUDDLE},
  &.#{$MOON} {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &.#{$TREE} {
    &::before {
      top: auto;
      bottom: 10%; /* sits on bottom */
      left: 40%;
      width: 20%; /* trunk width = 10% of cell */
      height: 35%; /* trunk height = 35% of cell */
      background: #3d2209;
      border-radius: 15% / 10%; /* subtle round edges */
    }

    /* crown */
    &::after {
      content: "";
      position: absolute;
      top: auto;
      bottom: 35%; /* starts above trunk */
      left: 20%;
      width: 60%;
      height: 60%;
      border-radius: 50%;
      background: radial-gradient(circle at 40% 35%, #33cc55 0%, #009e28 60%, /* kitten’s eye color */ #00751e 100%);
      filter: brightness(0.6);
    }
  }

  &.#{$PUDDLE} {
    &::before {
      --water: #105a99;

      // css to create a puddle/pond effect
      border-radius: 55% 45% 62% 38% / 48% 60% 40% 52%;
      width: 80%;
      height: 80%;
      top: 10%;
      left: 10%;

      background: radial-gradient(120px 90px at 62% 38%, rgba(170, 210, 255, 0.25), rgba(170, 210, 255, 0) 60%),
        radial-gradient(80px 60px at 34% 68%, rgba(140, 190, 255, 0.2), rgba(140, 190, 255, 0) 60%), var(--water);
    }
  }

  &.#{$MOON} {
    &::before {
      transform: scale(0.5) translateY(-40%);

      border-radius: 50%;
      background: radial-gradient(circle at 30% 30%, #ffc878 0%, #ffb450 40%, #a96800 85%);
      z-index: 1;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.25) inset;
    }

    &::after {
      content: "";
      width: 110%;
      height: 110%;
      transform: scale(0.5) translateY(-45%) translateX(35%); /* x shift = crescent thickness */
      position: absolute;
      border-radius: 50%;
      background: var(--t); /* same as grass/sky background color */
      z-index: 2;
    }
  }

  .#{$CAT} {
    position: relative;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    z-index: 3;

    &:not(.#{$IS_MOM}) {
      z-index: 4;
      transform: scale(0.7) translate(var(--t-x, 0), 22%);
    }

    svg {
      ellipse {
        transform-box: fill-box;
        transform-origin: center;
        animation: eye-blink 8s 8s infinite;
      }
    }
  }

  .#{$IS_MOM} {
    transform: scale(0.95);
  }

  .#{$CAT_COLOR} {
    &1 {
      svg {
        color: #c09402;
      }
    }

    &2 {
      --t-x: -25%;

      svg {
        color: #009e28;
      }
    }

    &3 {
      --t-x: 25%;

      svg {
        color: #106dff;
      }
    }
  }

  > .#{$CAT} {
    grid-area: 1 / 1;
  }

  span,
  .#{$CAT} {
    pointer-events: none;
  }
}

.#{$WON} {
  .#{$CELL} {
    pointer-events: none;
  }

  .#{$START_BUTTON} {
    font-size: 0.8rem;
  }
}

// scale y
@keyframes eye-blink {
  0% {
    transform: scaleY(1);
  }
  3% {
    transform: scaleY(0);
  }
  6% {
    transform: scaleY(1);
  }
  9% {
    transform: scaleY(0);
  }
  12% {
    transform: scaleY(1);
  }
}
