@use "../../names" as *;
@use "../../theme" as *;

.config {
  @media (orientation: landscape) {
    grid-column: 2;
  }
}

.config,
.configCategory {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.configCategory {
  div {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .configItem {
    &:not(.selected) {
      filter: grayscale(80%) opacity(0.5);
    }
  }
}

.configItem {
  position: relative;
  height: 90px;
  width: 90px;
  cursor: pointer;
  display: grid;
  place-items: center;
  border-radius: $border-radius;
  padding: 0.25rem;
  text-wrap: balance;

  &:not(:global(.#{$CAT_BOX})) {
    background-color: $bg-alpha-05;
  }

  &.chooser {
    height: min(40vh, 40vw);
    width: min(40vh, 40vw);
    transition:
      transform 0.3s,
      opacity 0.3s;

    @media (min-height: 750px) {
      font-size: 1.5em;
    }

    :global(.#{$CAT_BOX}) {
      height: 50%;
      width: 50%;
      pointer-events: none;
    }
  }
}

.btnContainer {
  display: flex;
  gap: 1rem;
  font-size: 0.8em;

  button {
    padding: 0.2rem;
  }
}
