@import "../../names";
@import "../../theme";

.config,
.configCategory {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.configCategory {
  div {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  :global(.#{$CAT_BOX}),
  :global(.#{$OBJECT_BOX}) {
    position: relative;
    height: 80px;
    width: 80px;
    cursor: pointer;

    --t: #{$bg-primary};

    &:not(.selected) {
      filter: grayscale(80%) opacity(0.7);
    }
  }
}
