@use "../../../names" as *;
@use "../../../theme" as *;

.movesContainer {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  justify-self: start;
}

.moves {
  &::before {
    content: "â³ ";
  }
}

.difficulty-box,
.retry-info {
  font-size: 0.8em;
  color: $text-tertiary;
  display: flex;
  gap: 0.4rem;
}

.difficulty-box {
  > * {
    display: flex;
    gap: 0.25rem;

    &.easy {
      color: green;
    }
    &.medium {
      color: orange;
    }
    &.hard {
      color: red;
    }
  }
}
