@use "../../names" as *;
@use "../../theme" as *;

.controls {
  display: grid;
  gap: 1.5rem;
  position: relative;
  width: fit-content;
  height: fit-content;

  @media (orientation: landscape) {
    justify-items: center;
  }

  > * {
    transition: opacity 0.3s;
  }
}

.onboardingHighlight {
  animation: boxShadowPulse 2s ease-in-out infinite;
}

.newGameContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;
  display: grid;
  gap: 0.5rem;
  place-items: center;
}

.disabled > * {
  &:not(.newGameContainer) {
    pointer-events: none;
    opacity: 0;
  }
}

.movementControls {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  align-items: center;
  justify-items: center;
  width: fit-content;
  position: relative;

  @media (orientation: portrait) {
    grid-column: 2;
    grid-row: span 3;
  }

  > button {
    color: $main-color;
  }

  :global(.#{$ICON_BTN}) {
    & {
      width: 3.5rem;
      height: 3.5rem;
      margin: -0.25rem;

      @media (max-height: 600px) {
        width: 3rem;
        height: 3rem;
      }
    }

    &.up {
      grid-column: 2;
      grid-row: 1;
    }

    &.right {
      grid-column: 3;
      grid-row: 2;
    }

    &.down {
      grid-column: 2;
      grid-row: 3;
    }

    &.left {
      grid-column: 1;
      grid-row: 2;
    }
  }
}

.movesContainer {
  flex-direction: column;
  gap: 0.25rem;
  justify-self: start;
}

.moves {
  &::before {
    content: "⏳ ";
  }
}

.solutions,
.difficulty-box,
.retry-info {
  font-size: 0.8rem;
  color: $text-tertiary;
  display: flex;
  gap: 0.4rem;
}

.difficulty-box {
  > * {
    display: flex;
    gap: 0.25rem;

    &.easy {
      color: green;
    }
    &.medium {
      color: orange;
    }
    &.hard {
      color: red;
    }
  }
}

a {
  font-size: 0.8rem;
  color: $main-color;
  text-decoration: underline;
  cursor: pointer;
}

.toolControls {
  display: grid;
  place-items: center;

  &.disabled {
    button {
      pointer-events: none;
      opacity: 0.5;
      filter: grayscale(80%);
    }

    :last-child {
      &::before {
        content: "⏳ ";
      }
    }
  }
  &.hidden {
    display: none !important;
  }

  button {
    grid-area: 1 / 1;
    color: $main-color;
  }

  .recovery-info {
    grid-area: 1 / 1;
  }
}

.flyAwayElement {
  position: absolute;
  top: 0;
  right: 0;
  transition:
    transform 1s ease-in,
    opacity 1s linear;
}

@keyframes boxShadowPulse {
  0% {
    box-shadow: 0 0 0 0 rgba($text-primary, 0.5);
  }
  60% {
    box-shadow: 0 0 0 1rem rgba($text-primary, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba($text-primary, 0);
  }
}
