@import "../../names";
@import "../../theme";

.#{$CONTROLS} {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  width: fit-content;
  height: fit-content;

  &.#{$DISABLED},
  .#{$WON} & > * {
    &:not(.#{$NEW_GAME_CONTAINER}) {
      pointer-events: none;
      opacity: 0;
      filter: grayscale(80%);

      &.#{$MOVES} {
        opacity: 0.5;
      }
    }
  }
}

.#{$ONBOARDING_HIGHLIGHT}:not(:hover) {
  animation: boxShadowPulse 2s ease-in-out infinite;
}

.#{$NEW_GAME_CONTAINER} {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;
  display: grid;
  gap: 0.5rem;
  place-items: center;
}

.#{$MOVEMENT_CONTROLS} {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  align-items: center;
  justify-items: center;
  width: fit-content;
  padding: 1rem;

  .icon-btn {
    &:not(:nth-child(5)) {
      width: 4rem;
      height: 4rem;
      font-size: 1.8rem;
      margin: -0.25rem;
    }

    &:nth-child(1) {
      grid-column: 2;
      grid-row: 1;
    }

    &:nth-child(2) {
      grid-column: 3;
      grid-row: 2;
    }

    &:nth-child(3) {
      grid-column: 2;
      grid-row: 3;
    }

    &:nth-child(4) {
      grid-column: 1;
      grid-row: 2;
    }

    &:nth-child(5) {
      grid-column: 2;
      grid-row: 2;
    }
  }
}

.#{$MOVES} {
  &::before {
    content: "⏳ ";
  }
}

.#{$TOOL_CONTROLS} {
  display: flex;
  gap: 1rem;
  align-items: center;

  &.#{$DISABLED} {
    button {
      pointer-events: none;
      opacity: 0.5;
      filter: grayscale(80%);
    }

    :last-child {
      &::before {
        content: "⏳ ";
      }
    }
  }

  button {
    color: $main-color;
  }
}

@keyframes boxShadowPulse {
  0% {
    box-shadow: 0 0 0 0 rgba($main-color, 0.5);
  }
  70% {
    box-shadow: 0 0 0 20px rgba($main-color, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba($main-color, 0);
  }
}
