@use "../../names" as *;
@use "../../theme" as *;

.controls {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  width: fit-content;
  height: fit-content;

  @media (orientation: landscape) {
    grid-column: 2;
  }

  > * {
    transition: opacity 0.3s;
  }

  &.disabled > *,
  :global(.#{$WON}) & > * {
    &:not(.newGameContainer) {
      pointer-events: none;
      opacity: 0;
      filter: grayscale(80%);

      &.moves {
        opacity: 0.5;
      }
    }
  }
}

.onboardingHighlight {
  animation: boxShadowPulse 2s ease-in-out infinite;
}

.newGameContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;
  display: grid;
  gap: 0.5rem;
  place-items: center;
}

.movementControls {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  align-items: center;
  justify-items: center;
  width: fit-content;
  padding: 1rem;

  button {
    color: $main-color;
  }

  :global(.#{$ICON_BTN}) {
    &:not(:nth-child(5)) {
      width: 4rem;
      height: 4rem;
      font-size: 1.8rem;
      margin: -0.25rem;
    }

    &:nth-child(1) {
      grid-column: 2;
      grid-row: 1;
    }

    &:nth-child(2) {
      grid-column: 3;
      grid-row: 2;
    }

    &:nth-child(3) {
      grid-column: 2;
      grid-row: 3;
    }

    &:nth-child(4) {
      grid-column: 1;
      grid-row: 2;
    }

    &:nth-child(5) {
      grid-column: 2;
      grid-row: 2;
    }
  }
}

.moves {
  &::before {
    content: "⏳ ";
  }
}

.solutions {
  font-size: 0.8rem;
  color: $text-tertiary;
  display: flex;
  gap: 0.4rem;

  &::before {
    content: "💡 ";
  }

  a {
    color: $main-color;
    text-decoration: underline;
    cursor: pointer;
  }
}

.toolControls {
  display: flex;
  gap: 1rem;
  align-items: center;

  &.disabled {
    button {
      pointer-events: none;
      opacity: 0.5;
      filter: grayscale(80%);
    }

    :last-child {
      &::before {
        content: "⏳ ";
      }
    }
  }
  &.hidden {
    display: none !important;
  }

  button {
    color: $main-color;
  }
}

@keyframes boxShadowPulse {
  0% {
    box-shadow: 0 0 0 0 rgba($main-color, 0.5);
  }
  70% {
    box-shadow: 0 0 0 20px rgba($main-color, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba($main-color, 0);
  }
}
