@use "../../../theme";
@use "../../../names";

.host {
  background: theme.$bg-alpha-10;
}

.child {
  color: theme.$text-primary;

  :global(.#{names.$WON}) & {
    color: theme.$success-color;
  }
}

.active {
  color: theme.$main-color;
}
