@use "../../names" as *;
@use "../../theme" as *;

.controlsAndInfo {
  display: grid;
  gap: 1.5rem;
  position: relative;
  width: fit-content;
  height: fit-content;

  @media (orientation: landscape) {
    justify-items: center;
  }

  > * {
    transition: opacity 0.3s;
  }
  button {
    position: relative;
  }
}

.newGameContainer {
  @extend %centeredAbsolute;
  z-index: 6;
  display: grid;
  gap: 0.5rem;
  place-items: center;
  pointer-events: all !important;
  opacity: 1 !important;
}
