.container,
.choices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.choices {
  flex-direction: row;
}

.explanation {
  max-width: 90vw;
  font-size: 1.2em;
  transform: scale(0.6);
  opacity: 0.7;
  transition:
    transform 0.3s,
    opacity 0.3s;

  &.active {
    transform: scale(1);
    opacity: 1;
  }

  &::before {
    content: "💡 ";
  }
}
