$SELECTING: "a";
$DISABLED: "disabled";
$HIDDEN: "hidden";
$SCARED: "d";
$SCARY: "e";
$T13A: "f";
$P_T13A: "g";
$HAS_CAT: "h";
$HAS_LEFT: "i";
$HAS_RIGHT: "j";
$CELL: "cell";
$ONBOARDING_HIGHLIGHT: "onboarding-highlight";
$ANIMATED: "animated";

$UP: "up";
$DOWN: "down";
$LEFT: "left";
$RIGHT: "right";

$ARROW: "arrow";

$CONTROLS: "controls";
$MOVEMENT_CONTROLS: "movement-controls";
$MOVES: "moves";
$TOOL_CONTROLS: "tool-controls";
$MEOW: "meow";
$CONFIG: "config";
$CONFIG_CATEGORY: "category";
$SELECTED: "selected";
$BAD: "y";

$TABLE: "z";
$IS_MOM: "is-mom";
$CAT: "cat";
$CAT_BOX: "cat-box";
$CAT_COLOR: "cat-color";
$OBJECT_BOX: "object-box";
$TREE: "tree";
$PUDDLE: "puddle";
$MOON: "moon";
$EMOJI: "emoji";
$FIELD: "field";
$WON: "won";
$START_BUTTON: "start-button";
$NEW_GAME_CONTAINER: "new-game";
