@use "../../../names" as *;
@use "../../../theme" as *;

.onboardingHighlight {
  animation: boxShadowPulse 2s ease-in-out infinite;
}

.disabled > * {
  &:not(.newGameContainer) {
    pointer-events: none;
    opacity: 0;
  }
}

.movementControls {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  align-items: center;
  justify-items: center;
  width: fit-content;
  position: relative;

  @media (orientation: portrait) {
    grid-column: 2;
    grid-row: span 3;
  }

  > button {
    color: $main-color;
  }

  :global(.#{$ICON_BTN}) {
    & {
      width: 3.5rem;
      height: 3.5rem;
      margin: -0.25rem;

      @media (max-height: 600px) {
        width: 3rem;
        height: 3rem;
      }
    }

    &.up {
      grid-column: 2;
      grid-row: 1;
    }

    &.right {
      grid-column: 3;
      grid-row: 2;
    }

    &.down {
      grid-column: 2;
      grid-row: 3;
    }

    &.left {
      grid-column: 1;
      grid-row: 2;
    }
  }
}

.toolControls {
  display: grid;
  place-items: center;

  &.disabled {
    button {
      pointer-events: none;
      opacity: 0.5;
      filter: grayscale(80%);
    }

    :last-child {
      &::before {
        content: "⏳ ";
      }
    }
  }
  &.hidden {
    display: none !important;
  }

  button {
    grid-area: 1 / 1;
    color: $main-color;
  }

  .recovery-info {
    grid-area: 1 / 1;
  }
}

@keyframes boxShadowPulse {
  0% {
    box-shadow: 0 0 0 0 rgba($text-primary, 0.5);
  }
  60% {
    box-shadow: 0 0 0 1rem rgba($text-primary, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba($text-primary, 0);
  }
}
