@use "../../../names" as *;
@use "../../../theme" as *;

.onboardingHighlight {
  animation: boxShadowPulse 2s ease-in-out infinite;
}

.movementControls {
  @extend %gridCentered;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  place-self: center;
  width: fit-content;
  position: relative;

  @media (orientation: portrait) or (max-height: 700px) {
    grid-column: 2;
    grid-row: span 3;
  }

  > button {
    color: $main-color;
    @extend %gridCentered;
  }

  &.disabled > :global(.#{$ICON_BTN}) {
    pointer-events: none;
    opacity: 0;
  }

  :global(.#{$ICON_BTN}) {
    & {
      width: 3.5rem;
      height: 3.5rem;
      margin: -0.25rem;

      @media (max-height: 700px) {
        width: 3rem;
        height: 3rem;
      }
    }

    &.up {
      grid-column: 2;
      grid-row: 1;
    }

    &.right {
      grid-column: 3;
      grid-row: 2;
    }

    &.down {
      grid-column: 2;
      grid-row: 3;
    }

    &.left {
      grid-column: 1;
      grid-row: 2;
    }
  }
}

.toolControls {
  @extend %gridCentered;
  gap: 0.75rem;

  button {
    display: grid;
    font-size: 0.9em;
    width: 100%;

    &.disabled {
      pointer-events: none;

      .recovery-info {
        display: block;
      }

      > *:not(.recovery-info) {
        opacity: 0.1;
        filter: grayscale(80%);
      }
    }

    > span {
      grid-area: 1 / 1;
      color: $main-color;
    }
  }

  .recovery-info {
    display: none;
    grid-area: 1 / 1;

    &::before {
      content: "⏳ ";
    }
  }
}

kbd {
  opacity: 0;
  transition: opacity 0.1s;
  .keyboard-active & {
    opacity: 1;
  }

  position: absolute;
  .toolControls &,
  :global(button.#{$SECONDARY}) & {
    right: 0.15rem;
    bottom: 0.15rem;
  }
  .up & {
    bottom: -0.2rem;
  }
  .right & {
    left: -0.2rem;
  }
  .down & {
    top: -0.2rem;
  }
  .left & {
    right: -0.2rem;
  }

  font-family: monospace;
  padding: 0.05rem 0.25rem;
  border-radius: 0.2rem;
  font-size: 0.45rem;
  line-height: 1.2;
  background-color: $bg-alpha-05;
  border: 1px solid $bg-alpha-10;
  color: $text-secondary;
}

@keyframes boxShadowPulse {
  0% {
    box-shadow: 0 0 0 0 rgba($text-primary, 0.5);
  }
  60% {
    box-shadow: 0 0 0 1rem rgba($text-primary, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba($text-primary, 0);
  }
}
