@use "../../../names" as *;
@use "../../../theme" as *;

.controlsAndInfo {
  display: grid;
  gap: 1rem;
  position: relative;
  width: fit-content;
  height: fit-content;

  @media (orientation: landscape) {
    justify-items: center;
  }

  @media (max-height: 700px) {
    font-size: 0.9em;
  }

  > * {
    transition: opacity 0.3s;
  }

  button {
    position: relative;
  }
}

.newGameContainer {
  @extend %centeredAbsolute;
  @extend %gridCentered;
  z-index: 6;
  gap: 0.5rem;
  text-align: center;
}

.xpInfo {
  font-size: 0.8em;
}
