@use "sass:color";

.sky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: white;
  border-radius: 50%;
  opacity: 0.7;

  &:nth-child(odd) {
    background: color.mix(#ffc400, white, 75%);
  }
}
